/* ==========================================
	Variables
========================================== */
/* Imports */
@import 'bootstrap';
@import 'bootstrap-grid';
@import 'bootstrap-reboot';
@import 'slicknav';
@import 'swiper';

/* Colours */
$brand-orange: #fa8100;
$brand-orange: #fa8100;
$brand-blue: #06f;
$brand-blue-dark: #0092ff;
$brand-navy: #0d5890;
$brand-grey: #303030;
$brand-grey-light: #f0f0f0;
$brand-green: #00a33d;
$brand-purple: #b7007d;
$brand-pink: #d8007a;
.brand-orange {
	color: $brand-orange;
}
.brand-green {
	color: $brand-green;
}
.brand-blue {
	color: $brand-blue;
}
.brand-navy {
	color: $brand-navy;
}
.brand-pink {
	color: $brand-pink;
}
.brand-orange-bg {
	background-color: $brand-orange;
	background-image: linear-gradient(135deg, #e06c00 8%, #faa200 80%);
}
.brand-blue-bg {
	background-color: $brand-blue;
	background-image: linear-gradient(135deg, #06f, hsla(205.64705882352945, 100.00%, 64.51%, 1.00) 81%);
}
.brand-green-bg {
	background: linear-gradient(135deg, hsla(142.45398773006136, 75.69%, 28.84%, 1.00), hsla(105.75539568345324, 60.99%, 64.12%, 1.00) 80%);
}
.brand-pink-bg {
	background-image: linear-gradient(135deg, hsla(322.0588235294117, 100.00%, 27.33%, 1.00), #ff52b4 102%);
}
.brand-navy-bg {
	background-image: linear-gradient(135deg, hsla(215.86206896551727, 100.00%, 17.06%, 1.00), #0045ad 81%);
}

/* Fonts */
$fontawesome: "Font Awesome 5 Pro";
$light: 400;
$regular: 500;
$semibold: 600;
$bold: 700;
$extrabold: 900;

/* Extends & mixins */
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
%intro {
	font-size: 19px;
	line-height: 25px;
}
%dot-ul {
	margin-bottom: 30px;
	li {
		display: block;
		margin-bottom: 10px;
		padding-left: 0;
		position: relative;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			width: 7px;
			height: 7px;
			display: block;
			position: absolute;
			top: 7px;
			left: -20px;
			background: $brand-green;
		}
	}
}
%note {
	display: inline-block;
	margin-bottom: 15px;
	line-height: 19px;
	padding: 5px 10px;
	color: #fff;
	font-weight: $semibold;
	text-transform: uppercase;
	background-color: hsla(105.75539568345324, 43.52%, 57.51%, 1.00);
}
%dot-ol {
	margin-bottom: 30px;
	counter-reset: item;
	li {
		display: block;
		margin-bottom: 10px;
		padding-left: 0;
		position: relative;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:before {
			content: counter(item) ". ";
			width: 16px;
			counter-increment: item;
			color: $brand-green;
			font-weight: $semibold;
			position: absolute;
			left: -20px;
			text-align: right;
		}
	}
}
%blockquote {
	margin-bottom: 35px;
	counter-reset: item;
	li {
		display: block;
		margin-bottom: 10px;
		padding-left: 0;
		position: relative;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:before {
			content: counter(item) ". ";
			width: 16px;
			counter-increment: item;
			color: $brand-green;
			font-weight: $semibold;
			position: absolute;
			left: -20px;
			text-align: right;
		}
	}
}

/* ==========================================
	Global
========================================== */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: $regular;
	font-size: 16px;
	text-shadow: none;
	letter-spacing: -0.16px;
	color: $brand-grey;
	background: $brand-grey-light;
	&.modal-open {
		padding: 0 !important;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	line-height: 1.2;
	font-weight: $semibold;
}

p {
	margin-bottom: 25px;
	font-size: 19px;
	&.intro {
		@extend %intro;
	}
}

ul,
ol {
	padding: 0 0 0 20px;
}

strong {
	font-weight: $semibold;
}

blockquote {
	display: inline-block;
	margin: 10px 0 35px;
	color: $brand-pink;
	font-size: 24px;
	line-height: 32px;
	font-style: italic;
	font-weight: $regular;
	text-align: left;
	p {
		margin: 0;
	}
}

a,
a:visited,
a:active {
	transition: color .25s, background .25s, opacity .25s, border .25s, box-shadow .25s, transform .25s;
	text-decoration: none !important;
	font-weight: $semibold;
	color: $brand-blue;
}

a:hover {
	color: $brand-blue-dark;
}

a.btn,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"],
.mc4wp-form input.btn {
	transition: color .25s, background .25s;
	position: relative;
	color: #fff;
	min-width: 150px;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14.4px;
    line-height: 21px;
    text-align: center;
	&:hover {
		cursor: pointer;
	}
	&.btn-dark {
		min-width: 180px;
		border-width: 2px;
		border-color: #fff;
		font-weight: $bold;
		background-color: rgba(0, 0, 0, .6);
		&:hover {
			color: #000;
			background-color: #fff;
		}
	}
	&.btn-primary,
	&.gform_button, {
		border-color: hsla(205.64705882352945, 100.00%, 50.00%, 1.00);
		font-weight: $semibold;
		letter-spacing: 0;
		background-color: hsla(205.64705882352945, 100.00%, 50.00%, 1.00);
		&:hover {
			border-color: $brand-blue;
			background-color: $brand-blue;
		}
	}
	i {
		position: relative;
		top: -1px;
		font-size: 8px;
	}
}

img {
	max-width: 100%;
    height: auto;
	display: block;
	border: 0;
}

.text-center {
	text-align: center;
}

.form-control::-webkit-input-placeholder {
	color: rgba(0,0,0,.5);
}

.container {
	max-width: 1200px;
}

/* ==========================================
	Header
========================================== */
header {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	.container {
		.col-12 {
			display: flex;
			justify-content: space-between;
			nav {
				align-self: flex-end;
				ul.nav-head {
					display: flex;
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						margin-right: 25px;
						&:last-of-type {
							margin-right: 0;
						}
						&.current_page_item,
						&.current-page-ancestor,
						&.current-menu-item,
						&.current-category-ancestor,
						&.current-post-ancestor {
							a {
								border-bottom: 2px solid #fff;
								color: #fff;
								text-decoration: none;
							}
						}
						&.menu-item-has-children {
							a:after {
								transition: color .25s, transform .25s;
								content: "\f078";
								display: inline-block;
								position: relative;
								margin-left: 7px;
								font-family: $fontawesome;
								font-weight: $regular;
								font-size: 13px;
							}
						}
						a {
							display: block;
							color: #fff;
							padding: 10px 0;
							border-bottom: 2px solid transparent;
							font-size: 16px;
							font-weight: $semibold;
							letter-spacing: 0.32px;
							text-transform: none;
							&:hover {
								border-bottom: 2px solid #fff;
								color: #fff;
								text-decoration: none;
							}
						}
						.sub-menu {
							display: none;
						}
					}
				}
			}
		}
	}
}
.logo {
	display: inline-block;
}
.nav-cta {
	position: relative;
	top: 2px;
	align-self: flex-end;
	a.cta {
		display: inline-block;
		color: #fff;
		margin-right: 10px;
		padding: 10px 0 12px 0;
		border-bottom: 2px solid transparent;
		font-size: 11px;
		font-weight: $semibold;
		letter-spacing: 0.32px;
		text-transform: uppercase;
		&:hover {
			border-bottom: 2px solid #fff;
			color: #fff;
			text-decoration: none;
		}
	}
}
/* Dropdown */
.container-drop {
	position: relative;
    z-index: 10;
	top: 70px;
	.row-drop {
		transition: opacity .25s, visibility .25s;
		visibility: hidden;
		opacity: 0;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
		.col-12 {
			.nav-drop {
				width: 100%;
				position: absolute;
				top: 21px;
				left: 0;
				z-index: 2;
				padding: 0 15px;
				.nav-drop-content {
					color: #fff;
					padding: 15px 30px 30px 30px;
					background-image: linear-gradient(315deg, hsla(233.33333333333334, 15.25%, 11.57%, 1.00) 15%, hsla(205.64705882352945, 20.11%, 22.20%, 1.00));
					box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
					a {
						color: #fff;
						.fa-chevron-right {
							font-size: 9px;
							position: relative;
							top: -1px;
						}
					}
					h2 {
						display: none;
					}
					ul.list-programs {
						margin-bottom: 25px;
						li {
							.list-program {
								.list-program-wrap {
									min-height: 300px;
								}
							}
						}
					}
					.drop-close {
						display: block;
						font-size: 26px;
						margin-bottom: 3px;
					}
				}
				.col-close {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}
/* Mobile nav */
.nav-mobile {
	display: none;
	color: #fff;
	&.nav-mobile-menu {
		flex-wrap: wrap;
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		i {
			font-size: 36px;
		}
	}
	&.nav-phone {
		font-size: 27px;
		margin-top: 7px;
		&:hover {
			color: #fff;
			opacity: .75;
		}
	}
}
/*Mobile nav expanded */
.container-mobile-menu {
	display: none;
	position: absolute;
    top: 70px;
    z-index: 10;
	.collapse-mobile {
		width: 100%;
		.card {
			color: #fff;
			border: 0;
			border-radius: 0;
			box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .3);
			background-image: linear-gradient(180deg, hsla(233.33333333333334, 15.25%, 11.57%, 1.00), hsla(206.08695652173913, 20.35%, 22.16%, 1.00));
			.nav-cta {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;
				.cta,
				.cta:hover {
					width: 100%;
					border: 0;
					padding: 20px 0 15px 0;
				}
			}
			ul.nav-head {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;
				li {
					margin-bottom: 15px;
					&:last-of-type {
						margin-bottom: 0;
					}
					&.menu-item-has-children {
						& > {
							a:after {
								transition: color .25s, transform .25s;
								content: "\f078";
								display: inline-block;
								position: relative;
								margin-left: 7px;
								font-family: $fontawesome;
								font-weight: $regular;
								font-size: 13px;
							}
						}
					}
					a {
						color: #fff;
					}
					ul.sub-menu {
						width: 100vw;
						display: none;
						position: relative;
						left: calc(-1 * (100vw - (100% - 20px))/ 2);
						margin-top: 10px;
						list-style: none;
						overflow: hidden;
						background-color: rgba(0, 0, 0, .4);
						&.visible {
							display: block;
						}
						a.drop-all {
							display: block;
							margin-bottom: 15px;
							.far {
								font-size: 8px;
								position: relative;
								top: -2px;
							}
						}
						/* Hide basic */
						li.menu-item {
							display: none;
						}
						/* Tiles */
						ul.list.list-programs {
							display: flex;
							padding: 15px 20px;
							li {
								margin: 0;
								&.col-md-3 {
									max-width: 50%;
									flex: 0 0 50%;
									padding-right: 8px;
									padding-left: 8px;
									&:nth-child(1),
									&:nth-child(2) {
										margin-bottom: 15px;
									}
								}
								.list-program {
									.list-program-wrap {
										min-height: 250px;
										.list-features {
											margin: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ==========================================
	Featured
========================================== */
.featured {
    min-height: 700px;
	padding-bottom: 190px;
	overflow: hidden;
    position: relative;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 18, 37, .5)), to(rgba(8, 5, 25, .3)));
    background-image: linear-gradient(180deg, rgba(14, 18, 37, .5), rgba(8, 5, 25, .3));
	video {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		margin: auto;
		z-index: -100;
		background-size: cover;
		background-position: 50% 50%;
	}
	.container {
		.col-12 {
			max-width: 935px;
			margin: 0 auto;
			padding-top: 200px;
			color: #fff;
			h1 {
				font-size: 60px;
				font-weight: $semibold;
				line-height: 64px;
				margin-bottom: 30px;
			}
			h2 {
				text-transform: uppercase;
				font-weight: $regular;
			}
		}
	}
}

.featured-page {
    min-height: 390px;
	padding-top: 150px;
	padding-bottom: 80px;
	&.featured-program {
		.container {
			margin-bottom: 0;
		}
	}
	.container {
		max-width: 1200px;
		margin-bottom: 35px;
		color: #fff;
		.row {
			&.row-program {
				.col-md-8 {
					p {
						max-width: 100%;
					}
				}
				.col-md-4 {
					ul.list-features {
						display: block;
						padding: 32px;
						background: #fff;
						li {
							margin-right: 0;
							&:last-of-type {
								margin-bottom: 0;
							}
							.list-features-content {
								color: #1c1c1c;
								img {
									width: 40px;
									height: 43px;
								}
								.list-features-title {
									margin-left: 20px;
								}
							}
						}
					}
				}
			}
			.col-12 {
				h1 {
					max-width: 80%;
					font-size: 60px;
					line-height: 64px;
					margin-bottom: 32px;
				}
				.page-title {
					display: block;
					font-size: 16px;
					font-weight: $semibold;
					margin-bottom: 15px;
					&:after {
						content: "";
						width: 30px;
						height: 2px;
						display: inline-block;
						margin-left: 15px;
						position: relative;
						top: -4px;
						background: #fff;
					}
				}
				.nav-cat {
					display: flex;
					align-items: flex-start;
					margin-bottom: 13px;
					.nav-cat-title {
						margin-right: 12px;
						padding-top: 6px;
					}
				}
				p {
					max-width: 80%;
					&:last-of-type {
						margin: 0;
					}
				}
			}
		}
	}
}

/* ==========================================
	Content
========================================== */
.content {
	position: relative;
	padding-top: 100px;
    padding-bottom: 100px;
	background: #fff;
	h2 {
		margin-bottom: 24px;
	}
	h3 {
		margin-bottom: 15px;
		font-size: 25px;
		line-height: 28px;
		font-weight: $semibold;
	}
	/* Program footer */
	&.content-program-footer {
		background-color: $brand-grey-light;
		.col-video {
			max-width: 935px;
			margin: 0 auto;
		}
		.row + .row {
			margin-top: 100px;
		}
	}
	/* Contact */
	&.content-contact {
		.row {
			& + .row {
				margin-top: 10px;
			}
			.side-item {
				font-size: 19px;
				padding: 32px;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
				background: #fff;
				a {
					display: block;
					margin-bottom: 15px;
				}
				p {
					&:last-of-type {
						margin-bottom: 0;
						& + * {
							margin-top: 25px;
						}
					}
				}
				ul {
					@extend %dot-ul;
				}
				ol {
					@extend %dot-ol;
				}
				ul,
				ol {
					margin-bottom: 0;
					& + * {
						margin-top: 25px;
					}
					li {
						font-size: 16px;
					}
				}
			}
		}
	}
	/* Deals */
	&.content-deal {
		padding: 40px 0;
		text-align: center;
		color: #fff;
		background-color: #1f252d;
		.btn {
			margin-top: 15px;
		}
	}
	/* Team */
	&.content-team {
		background: $brand-grey-light;
	}
	/* Stories */
	&.content-stories {
		background: $brand-grey-light;
		.content-cta {
			width: 100vw;
			position: relative;
			left: calc(-1 * (100vw - (100% - 20px))/ 2);
			margin-top: 100px;
			margin-bottom: 100px;
		}
	}
	/* CTA */
	&.content-cta {
		min-height: 250px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		margin-top: 80px;
		margin-bottom: 80px;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: transparent;
		&.content-cta-navy {
			h2 {
				color: #000;
			}
			.skew {
				background-image: linear-gradient(143deg, #06f 17%, #002357);
			}
		}
		h2 {
			font-size: 35px;
			margin-bottom: 20px;
			span {
				color: #fff;
				font-size: 28px;
			}
		}
		.skew {
			position: absolute;
			left: 0%;
			top: 0%;
			right: 0%;
			bottom: 0%;
			z-index: -100;
			transform: skew(0deg, -4deg);
			background-image: linear-gradient(90deg, hsla(142.45398773006136, 100.00%, 31.96%, 1.00), hsla(105.75539568345324, 61.27%, 58.69%, 1.00)), linear-gradient(143deg, hsla(205.64705882352945, 100.00%, 59.60%, 1.00) 42%, #06f);
		}
	}
	/* Image columns */
	&.content-width {
		padding: 0;
		background-color: #f0eff0;
		&:nth-child(odd) {
			padding: 0;
		}
		ul {
			@extend %dot-ul;
		}
		ol {
			@extend %dot-ol;
		}
		ul,
		ol {
			margin-bottom: 15px;
		}
		&.content-width-program {
			background: #fff;
			.row {
				&:nth-child(even) {
					.col-lg-6:first-of-type {
						order: 1;
					}
					.col-lg-6:last-of-type {
						order: 2;
						.content-width-content {
							padding-right: 0;
						}
					}
				}
				&:nth-child(odd) {
					.col-lg-6:first-of-type {
						order: 2;
					}
					.col-lg-6:last-of-type {
						order: 1;
						.content-width-content {
							margin-left: auto;
							padding-left: 0;
						}
					}
				}
				.col-lg-6 {
					h2 {
						margin-bottom: 40px;
						line-height: 35px;
						position: relative;
						a {
							&:hover {
								color: $brand-blue;
							}
							&.brand-green {
								&:after {
									background: $brand-green;
								}
							}
							&.brand-orange {
								&:after {
									background: $brand-orange;
								}
							}
							&.brand-blue {
								&:after {
									background: $brand-blue;
								}
							}
							&.brand-navy {
								&:after {
									background: $brand-navy;
								}
							}
							&.brand-magenta {
								&:after {
									background: $brand-pink;
								}
							}
							&:after {
								content: "";
								display: inline-block;
								width: 30px;
								height: 3px;
								position: absolute;
								left: 0;
								bottom: -20px;
							}
						}
					}
					.btn {
						margin-top: 30px;
					}
				}
			}
		}
		.row {
			min-height: 650px;
			margin: 0;
			.col-lg-6 {
				width: 100%;
				display: flex;
				align-items: center;
				flex: 0 auto;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				.content-width-content {
					max-width: 566px;
					position: relative;
					padding: 65px 35px;
					p {
						font-size: 16px;
						&.intro {
							@extend %intro;
						}
						&:first-of-type {
							font-size: 19px;
						}
						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	/* Centered text */
	&.content-text {
		.text-center {
			max-width: 830px;
			margin: 0 auto;
			.icon-core {
				display: block;
				margin: 30px auto 0 auto;
			}
		}
	}
	/* Blog */
	&.content-blog {
		background: $brand-grey-light;
	}
	/* Shift into header */
	&.content-shift {
		padding-top: 0;
		&.content-media {
			.col-12 {
				.embed-container {
					margin-top: -80px;
				}
				.embed-image {
					margin-top: -80px;
					img {
						width: 100%;
					}
				}
				.article-content {
					.embed-container {
						margin-top: 0;
						margin-bottom: 25px;
					}
				}
			}
		}
		.list-blog {
			position: relative;
			top: -80px;
			margin-bottom: -80px;
		}
	}
	/* Video */
	&.content-media {
		padding-top: 0;
		padding-bottom: 80px;
		.col-12 {
			max-width: 935px;
			margin: 0 auto;
			.embed-container {
				z-index: 2;
			}
		}
	}
	/* Program intro */
	&.content-program-intro {
		background: #fff;
		ul.list.list-features {
			display: block;
			margin-top: 25px;
			li {
				margin-bottom: 10px;
				&:before {
					display: none;
				}
				.list-features-content img {
					width: 40px;
					height: 43px;
				}
			}
		}
	}
	/* Program content */
	&.content-program {
		background: $brand-grey-light;
		h3 {
			font-size: 19px;
			line-height: 21px;
		}
		p {
			font-size: 16px;
			&.intro {
				@extend %intro;
			}
		}
		.row-details {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
			ul {
				@extend %dot-ul;
			}
			ol {
				@extend %dot-ol;
			}
		}
	}
	/* Callout */
	&.content-callout {
		min-height: 450px;
		display: flex;
		align-items: center;
		color: #fff;
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(49deg, #ad0068 25%, hsla(205.64705882352945, 100.00%, 50.00%, 0.50));
		}
		.col {
			max-width: 60%;
			position: relative;
			z-index: 1;
			.callout-copy {
				.callout-note {
					@extend %note;
				}
				h2 {
					margin-bottom: 15px;
					font-size: 36px;
					line-height: 38px;
					font-weight: $semibold;
					text-transform: uppercase;
				}
			}
		}
		&.content-callout-small {
			padding-top: 150px;
			padding-bottom: 150px;
			background-position: 0% 0%;
			background-attachment: fixed;
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(90deg, hsla(105.75539568345324, 63.47%, 57.06%, 0.20), rgba(0, 86, 214, .8) 63%);
			}
			.col-lg-6 {
				position: relative;
				z-index: 1;
				.callout-copy {
					h2 {
						margin-bottom: 24px;
						font-size: 32px;
						line-height: 35px;
						font-weight: $semibold;
						text-transform: none;
					}
				}
			}
		}
	}
	/* Awards */
	&.content-awards {
		padding-top: 40px;
		padding-bottom: 40px;
		color: #fff;
		text-align: center;
		background: #1f252d;
		.row {
			justify-content: center;
			h4 {
				font-size: 19px;
				font-weight: $semibold;
			}
			img {
				width: 170px;
				margin: 0 auto 15px auto;
			}
		}
	}
	/* Testimonials */
	&.content-testimonials {
		background: #f0eff0;
		.col-12 {
			text-align: center;
			.btn {
				z-index: 10;
				margin-top: 50px;
			}
		}
	}
	/* Process */
	&.content-process {
		color: #1c1c1c;
		background-image: linear-gradient(315deg, hsla(205.64705882352945, 100.00%, 50.00%, 1.00), #7bc963 37%, hsla(105.88235294117648, 100.00%, 85.49%, 1.00));
		.col-12 {
			text-align: center;
			h3 {
				font-size: 19px;
			}
			p:last-of-type {
				margin: 0;
			}
			img {
				width: 100px;
				margin: 0 auto 15px auto;
			}
		}
	}
	/* Posts */
	&.content-posts {
		background: $brand-grey-light;
		.col-12 {
			text-align: center;
		}
	}
	/* Instagram */
	&.content-instagram {
		padding-top: 50px;
		padding-bottom: 50px;
		h5 {
			font-size: 17px;
			margin-bottom: 16px;
		}
		.fa-instagram {
			color: $brand-blue;
		}
		.instagram-follow {
			display: inline-block;
			margin-top: 15px;
			i {
				font-size: 14px;
			}
		}
	}
	/* Newsletter */
	&.content-newsletter {
		padding-top: 35px;
		padding-bottom: 35px;
		text-align: center;
		color: #fff;
		background: $brand-blue;
		h2 {
			max-width: 585px;
			margin: 0 auto 16px auto;
			font-size: 22px;
		}
	}
	/* Footer */
	&.content-footer {
		color: #fff;
		padding-bottom: 80px;
		background-color: #1a1b23;
		.btn {
			margin-top: 30px;
		}
		.row-foot {
			margin-top: 40px;
			font-size: 13px;
			color: rgba(255,255,255,.7);
		}
	}
}

.content-newsletter-form {
	.active-form {
		max-width: 400px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: space-between;
		padding-top: 30px;
	}
}

/* ==========================================
	Lists
========================================== */
ul.list {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	/* Corporate companies */
	&.list-companies {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		li {
			width: 20%;
			margin-top: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	/* Instagram */
	&.list-instagram {
		display: flex;
		li {
			width: 100%;
			position: relative;
			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			a {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				background: $brand-grey-light;
				img {
					object-fit: cover;
				}
			}
		}
	}
	/* Features */
	&.list-features {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 14px;
		li {
			margin-bottom: 6px;
			margin-right: 12px;
			&:before {
				display: none;
			}
			.list-features-content {
				display: flex;
				align-items: center;
				img {
					width: 30px;
					height: 33px;
				}
				.list-features-title {
					margin-left: 5px;
					font-size: 14px;
					font-weight: $semibold;
					letter-spacing: 1.6px;
					text-transform: uppercase;
				}
			}
		}
	}
	/* Category list */
	&.list-categories {
		@include clearfix;
		li {
			@include clearfix;
			float: left;
			margin-left: 7px;
			margin-bottom: 7px;
			&.current-cat {
				& > a {
					color: #000;
					background-color: #fff;
				}
			}
			a {
				display: inline-block;
				padding: 6px 16px;
				border: 2px solid #fff;
				font-size: 13px;
				color: #fff;
				line-height: 16px;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				text-align: center;
				background-color: hsla(0, 0%, 100%, .1);
				border-radius: 3px;
				&:hover {
					color: $brand-blue;
					background-color: #fff;
				}
			}
			ul {
				@include clearfix;
				list-style: none;
				padding: 0;
				li {
					float: left;
				}
			}
		}
	}
	/* Stories */
	&.list-stories {
		li {
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
			.list-story {
				display: flex;
				padding: 30px;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
				background: #fff;
				.list-story-img {
					width: 25%;
					margin-right: 30px;
				}
				.list-story-content {
					flex: 1;
					h2 {
						font-size: 25px;
						line-height: 28px;
						margin-bottom: 16px;
						i {
							color: $brand-purple;
						}
					}
					p {
						font-size: 16px;
						font-style: italic;
						&.intro {
							@extend %intro;
							font-weight: $semibold;
							margin-bottom: 15px;
						}
					}
					.story-expand {
						&[aria-expanded="true"] {
							.fa-plus {
								display: none;
							}
						}
						&[aria-expanded="false"] {
							.fa-minus {
								display: none;
							}
						}
					}
					.story-expanded {
						padding-top: 25px;
					}
				}
			}
		}
	}
	/* Blog posts */
	&.list-blog {
		li {
			margin-bottom: 30px;
			.list-blog-item {
				transition: transform .25s, box-shadow .25s;
				height: 100%;
				display: block;
				color: $brand-grey;
				text-align: left;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
				background: #fff;
				&:hover {
					transform: translate(0px, -2px);
					box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
					.list-blog-content {
						h4 {
							color: $brand-blue-dark;
						}
					}
				}
				img {
					width: 100%;
				}
				.list-blog-content {
					padding: 32px;
					.list-blog-meta {
						display: flex;
						justify-content: space-between;
						text-transform: uppercase;
						margin-bottom: 20px;
						font-size: 11px;
						letter-spacing: .8px;
						font-weight: $regular;
						.list-blog-category {
							font-weight: $semibold;
							letter-spacing: 1.6px;
						}
					}
					h4 {
						transition: color .25s;
						color: $brand-blue;
						margin-bottom: 16px;
					}
					p {
						font-size: 16px;
						font-weight: $regular;
						margin: 0;
					}
				}
			}
		}
	}
	/* Team */
	&.list-team {
		margin: 0;
		li {
			margin-bottom: 15px;
			padding: 0;
			&:last-of-type {
				margin-bottom: 0;
			}
			.list-team-member {
				display: flex;
				padding: 30px;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
				background: #fff;
				h2 {
					font-size: 25px;
					margin: 0;
				}
				p {
					font-size: 16px;
					line-height: 20px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
				img {
					width: 180px;
					border: 2px solid hsla(105.75539568345324, 63.47%, 57.06%, 1.00);
					border-radius: 50%;
				}
				.list-team-position {
					font-size: 17px;
					font-weight: $semibold;
					margin-bottom: 12px;
					color: #000;
				}
				.list-team-img {
					margin-right: 32px;
				}
				.list-team-desc {
					flex: 1;
				}
			}
		}
	}
	/* Process */
	&.list-process {
		display: flex;
		margin: 0;
		li {
			padding: 0;
			.list-process-item {
				height: 100%;
				padding: 30px;
				box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
				background: #fff;
			}
		}
	}
	/* Programs */
	&.list-programs {
		justify-content: center;
		& > li {
			max-width: 20%;
			flex: 0 0 20%;
		}
		li {
			.list-program {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				color: #fff;
				text-align: center;
				&:hover {
					.list-program-wrap {
						transform: scale(1.04);
					}
				}
				.list-program-wrap {
					transition: all 500ms ease;
					width: 100%;
					height: 100%;
					min-height: 400px;
					padding: 32px;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					background: no-repeat center center;
					background-size: cover;
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						display: block;
						position: absolute;
						background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
					}
					.list-program-content {
						position: relative;
						z-index: 1;
						h3,
						p {
							text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
						}
						h3 {
							font-size: 22px;
							line-height: 25px;
							&:after {
								content: "";
								width: 30px;
								height: 3px;
								display: block;
								position: relative;
								margin: 8px auto 10px auto;
							}
							&.div-brand-orange {
								&:after {
									background-color: $brand-orange;
								}
							}
							&.div-brand-green {
								&:after {
									background-color: $brand-green;
								}
							}
							&.div-brand-blue {
								&:after {
									background-color: $brand-blue;
								}
							}
							&.div-brand-navy {
								&:after {
									background-color: $brand-navy;
								}
							}
							&.div-brand-magenta {
								&:after {
									background-color: $brand-pink;
								}
							}
						}
						p {
							font-size: 14px;
							text-transform: uppercase;
							font-weight: $semibold;
							margin: 0;
						}
						ul.list.list-features li {
							width: 100%;
							margin: 0;
							text-align: center;
							.list-features-title {
								width: 100%;
								text-align: center;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	/*Footer */
	&.list-footer {
		& + .list-footer {
			margin-top: 15px;
		}
		li {
			margin-bottom: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
			a {
				display: block;
				color: rgba(255,255,255,.8);
				font-weight: $semibold;
				&:hover {
					transform: translate(0px, -2px);
					color: rgba(255,255,255,.9);
				}
			}
		}
		ul {
			margin-top: 10px;
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 8px;
				a {
					font-size: 12.8px;
					&:after {
						transition: color .25s, transform .25s;
						content: "\f054";
						display: inline-block;
						position: relative;
						top: -1px;
						margin-left: 4px;
						font-size: 7px;
						font-family: $fontawesome;
						font-weight: $extrabold;
					}
				}
			}
		}
	}
	&.list-footer-bottom {
		display: flex;
		li {
			margin-right: 20px;
			&:last-of-type {
				margin-right: 0;
			}
			a {
				display: block;
				color: rgba(255,255,255,.8);
				font-weight: $bold;
				&:hover {
					transform: translate(0px, -2px);
					color: rgba(255,255,255,.9);
				}
			}
		}
	}
	&.list-social {
		display: flex;
		li {
			margin-right: 15px;
			font-size: 14px;
			.fab {
				font-size: 21px;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

/* ==========================================
	Page specific
========================================== */
.home {
	.content.content-media {
		.col-12 {
			.embed-container {
				margin-top: -160px;
			}
		}
	}
}

.category-all {
	ul.list-categories {
		li:first-of-type a {
			color: #000;
			background-color: #fff;
		}
	}
}

.page-template-page-program {
	.featured-page {
		.container {
			.row {
				.col-12 {
					h1 {
						max-width: 100%;
					}
				}
			}
		}
	}
	.content.content-cta {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

/* ==========================================
	Stripe payment
========================================== */
.stripe-pay {
	padding: 40px 40px 25px 40px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
	background: #fff;
	.simpay-form-wrap {
		.simpay-checkout-form.simpay-styled.simpay-checkout-form--embedded {
			max-width: 100%;
			.simpay-form-control {
				margin: 0;
				&.simpay-checkbox-container {
					margin: 20px 0;
				}
				&.simpay-checkout-btn-container {
					margin-bottom: 15px;
				}
				select {
					width: 100%;
					height: 46px;
					max-height: 46px;
					padding: 10px 25px 10px 10px;
				}
				input[type="text"],
				input[type="email"],
				input.InputElement {
					height: 46px;
					max-height: 46px;
					padding: 10px;
					border: 1px solid #ced4da;
					border-radius: .25rem;
					background-color: #f7f7f7;
				}
			}
		}
	}
}

/* Plan table*/
.table-responsive {
	margin-bottom: 40px;
	tr {
		&:nth-of-type(odd) {
			td {
				&:first-of-type {
					background: darken($brand-green, 6%);
				}
			}
		}
		th {
			width: 25%;
			text-align: center;
			border: 0;
			&:first-of-type {
				width: 50%;
			}
			&.table-empty {
				border: 0;
				background: transparent;
			}
			&.table-head {
				font-weight: $regular;
				background: #fff;
			}
			&.table-highlight {
				color: #fff;
				font-weight: $semibold;
				font-size: 15px;
				background: $brand-green;
			}
		}
		td {
			border-color: #fff;
			border-top: 0;
			border-bottom: 0;
			border-left: 0;
			width: 25%;
			text-align: center;
			vertical-align: middle;
			&:first-of-type {
				width: 50%;
				color: #fff;
				text-align: left;
				background: $brand-green;
			}
			&:last-of-type {
				border-right: 0;
			}
			i {
				&.fa-check {
					color: $brand-green;
				}
				&.fa-times {
					color: $brand-pink;
				}
			}
		}
	}
	.table-price {
		display: block;
		font-size: 24px;
		font-weight: $bold;
	}
}

/* ==========================================
	Testimonials
========================================== */
.swiper-container {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -30px;
	margin-bottom: -30px;
	&:before,
	&:after {
		content: "";
		width: 100px;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 2;
		background: rgb(240,239,240);
		background: linear-gradient(90deg, rgba(240,239,240,1) 0%, rgba(240,239,240,0) 100%);
	}
	&:after {
		left: auto;
		right: 0;
		background: rgb(240,239,240);
		background: linear-gradient(90deg, rgba(240,239,240,0.0032387955182072714) 0%, rgba(240,239,240,1) 100%);
	}
}
.swiper-slide {
	transition: all .3s;
	width: 380px !important;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 25px;
	padding: 30px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	background: #fff;
	&:hover {
		transform: translate(0px, -2px);
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
	}
	.testimonial-label {
		position: absolute;
		top: 260px;
		right: 0%;
		bottom: auto;
		left: 0%;
		padding: 5px;
		color: #fff;
		font-size: 16px;
		font-weight: $semibold;
		text-transform: uppercase;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
		background-color: hsla(322.1739130434783, 100.00%, 40.00%, 1.00);
	}
	blockquote {
		color: #1c1c1c;
		font-size: 19px;
		line-height: 25px;
		font-style: italic;
		font-weight: $regular;
		margin: 20px 0 0 0;
	}
	img {
		height: 280px;
		margin: 0 auto;
	}
}
.swiper-button-next,
.swiper-button-prev {
	cursor: pointer;
	margin-top: -45px;
	background: none;
	&:before {
		transition: color .25s, transform .25s;
		display: block;
		position: relative;
		color: $brand-blue;
		font-size: 40px;
		font-family: $fontawesome;
		font-weight: $extrabold;
	}
	&:hover {
		&:before {
			color: $brand-blue-dark;
		}
	}
}
.swiper-button-next {
	right: 50%;
    transform: translateX(50%);
    margin-right: -215px;
    left: auto;
	&:before {
		content: "\f054";
	}
	&:hover {
		&:before {
			transform: translateX(3px);
		}
	}
}
.swiper-button-prev {
	left: 50%;
    transform: translateX(-50%);
    margin-left: -215px;
    right: auto;
	&:before {
		content: "\f053";
	}
	&:hover {
		&:before {
			transform: translateX(-3px);
		}
	}
}

/* ==========================================
	Blog
========================================== */
.single {
	.content.content-posts {
		background: #fff;
	}
}

.pagination {
	border-radius: 0;
	margin-top: 50px;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		li {
			display: block;
			margin: 0 5px 0 0;
			padding: 0;
			&.active {
				a {
					color: #000;
				}
			}
			&:hover {
				a {
					color: #fff;
					background: $brand-blue;
				}
			}
			&:first-of-type {
				a {
					margin-left: 0;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
				}
			}
			&:last-of-type {
				margin-right: 0;
				a {
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
			a {
				display: block;
				cursor: pointer;
				font-size: 16px;
				padding: 7px 15px;
				background-color: #fff;
				i {
					font-size: 10px;
				}
			}
		}
	}
}

/* Articles */
article {
	.article-meta {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		margin: 5px 0 20px 0;
		font-size: 11px;
		letter-spacing: .8px;
		font-weight: $regular;
		.article-category {
			font-weight: $semibold;
			letter-spacing: 1.6px;
		}
	}
	.content {
		background: $brand-grey-light;
	}
	.article-content {
		h2 {
			font-size: 25px;
			line-height: 28px;
		}
		h3 {
			font-size: 19px;
			line-height: 21px;
		}
		p {
			font-size: 16px;
			&:first-of-type {
				font-size: 19px;
			}
		}
		blockquote,
		blockquote p {
			@extend %blockquote;
			font-size: 24px !important;
		}
		blockquote p {
			margin-bottom: 0;
		}
		ul {
			@extend %dot-ul;
		}
		ol {
			@extend %dot-ol;
		}
		.article-points {
			margin-bottom: 25px;
			padding: 35px;
			box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
			background: #fff;
			h3 {
				position: relative;
				margin-bottom: 16px;
				padding-left: 43px;
				&:before {
					content: "";
					width: 35px;
					height: 35px;
					display: block;
					position: absolute;
					top: -7px;
					left: 0;
					background: url(../images/icon-sign.svg) no-repeat center center;
					background-size: cover;
				}
			}
			ul,
			ol {
				margin: 0 0 0 20px;
			}
		}
		.a2a_svg {
			&:hover {
				svg path {
					fill: $brand-blue-dark;
				}
			}
			svg path {
				transition: fill .25s;
				fill: $brand-blue;
			}
		}
	}
}

/* ==========================================
	Campaigns
========================================== */
.single-campaign {
	.featured-page {
		min-height: 700px;
		padding-top: 200px;
		padding-bottom: 190px;
		overflow: visible;
		background-position: 100% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(49deg, #ad0068 25%, hsla(205.64705882352945, 100.00%, 50.00%, 0.50));
		}
		.container {
			z-index: 1;
			position: relative;
			.row {
				.col-12 {
					text-align: center;
					.page-title {
						display: none;
					}
					h1,
					p {
						max-width: 100%;
					}
					p {
						max-width: 700px;
						margin: 0 auto 15px auto;
						text-transform: uppercase;
						font-size: 32px;
						line-height: 32px;
					}
					.campaign-note {
						@extend %note;
					}
				}
			}
		}
	}
	/* Content */
	.content {
		&.content-process {
			background-image: linear-gradient(135deg, #ad0068, hsla(205.64705882352945, 100.00%, 50.00%, 0.70));
			h2,
			p {
				color: #fff;
			}
			p + .list-process {
				margin-top: 25px;
			}
			h3 {
				margin: 0;
				font-size: 25px;
				line-height: 28px;
			}
			ul.list.list-process {
				li {
					.list-process-item {
						padding: 40px;
					}
				}
			}
		}
		&.content-program {
			.col-btn {
				text-align: center;
				.btn {
					display: inline-block;
				}
			}
		}
		&.content-shift {
			&.content-media {
				.col-12 {
					.embed-container {
						margin-top: -160px;
					}
				}
			}
		}
		&.content-media {
			& + .content-text {
				padding-top: 0;
			}
		}
		&.content-contact {
			.row + .row {
				margin-top: 0;
			}
			.side-item {
				&.side-item-deal,
				&.side-item-deal p {
					font-size: 25px;
					font-weight: $semibold;
					line-height: 28px;
					color: $brand-green;
				}
			}
		}
	}
}

/* ==========================================
	Image handling
========================================== */
img.alignright,
.alignright {
	float: right;
	margin: 0 0 25px 25px;
}
img.alignleft,
.alignleft {
	float: left;
	margin: 0 25px 25px 0;
}
img.aligncenter,
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ==========================================
	Forms
========================================== */
.gform_wrapper {
	margin: 0;
	form {
		ul.gform_fields {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			li {
				width: 100%;
				margin-bottom: 35px;
				&#field_1_3,
				&#field_1_4,
				&#field_1_5,
				&#field_1_6,
				&#field_1_8,
				&#field_2_3,
				&#field_2_4,
				&#field_2_5,
				&#field_2_6,
				&#field_2_8,
				&#field_3_3,
				&#field_3_4,
				&#field_3_5,
				&#field_3_6,
				&#field_3_8 {
					width: calc(50% - 10px);
				}
				&#field_1_10,
				&#field_2_10 {
					margin-bottom: 20px;
					.gfield_label {
						display: none;
					}
					.gchoice_1_10_1,
					.gchoice_2_10_1 {
						position: relative;
						margin: 0;
						input {
							position: absolute;
							top: 5px;
						}
						label {
							margin: 0;
							padding: 0 0 0 20px;
						}
					}
				}
				&#field_1_11,
				&#field_2_11,
				&#field_3_11 {
					display: none;
				}
				input {
					font-weight: $bold;
				}
				textarea {
					height: 100px !important;
				}
				input,
				textarea {
					padding: 10px;
					border: 1px solid #ced4da;
					border-radius: 0.25rem;
					background-color: #f7f7f7;
				}
			}
		}
	}
	.gform_footer {
		margin: 0;
	}
}

/* Messages */
.gform_confirmation_message {
	padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
	border-radius: 0;
    background: $brand-blue;
}
.validation_error,
.validation_message {
	padding: 7px 10px;
	font-size: 13px;
	color: #fff;
	border: 0;
	border-radius: 0;
    background: $brand-blue;
}
.validation_message {
	margin-top: 5px;
}
/* Loader */
.gform_ajax_spinner {
	display: none;
}

/* Active campaign */
.page-id-1935 {
	.justify-content-md-center {
		justify-content: center;
	}
}
.active-form {
	.row + .row {
		margin-top: 10px;
	}
	label {
		font-size: 15px;
	}
	textarea {
		height: 100px !important;
	}
	input,
	textarea {
		width: 100%;
		font-size: 15px;
		padding: 10px;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		background-color: #f7f7f7;
	}
	input[type="checkbox"] {
		width: auto;
		position: absolute;
		top: 5px;
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		height: 46px;
	}
	br,
	p {
		display: none;
	}
	.form-label {
		margin-right: 10px;
	}
	.btn {
		width: auto;
		br {
			display: none;
		}
	}
	.required {
		font-weight: $semibold;
		color: red;
	}
	.active-checkbox {
		display: block;
		position: relative;
		margin-bottom: 25px;
		padding-right: 25px;
		div {
			position: relative;
			top: 0;
			left: 20px;
		}
	}
}
.g-recaptcha {
	margin-bottom: 25px;
}
.g-recaptcha-footer {
	display: flex;
	justify-content: center;
}

/* ==========================================
	Video
========================================== */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* ==========================================
	Breakpoints
========================================== */
#breakpoint:before {
	display: none;
	content: "Over 1200px";
	color: rgba(255,255,255,0.5);
	padding: 4px 8px;
	top: 10px;
	right: 10px;
	position: fixed;
	font-size: 12px;
	z-index: 9999;
	border: 1px solid rgba(255,255,255,0.25);
	background: rgba(0,0,0,0.25);
}

@media (max-width: 1199px) {
	#breakpoint:before {
		content: "1199px";
	}
	/* ==========================================
		Header
	========================================== */
	header {
		padding-top: 10px;
		padding-bottom: 10px;
		.container {
			.col-12 {
				nav,
				.nav-cta {
					display: none;
				}
				.nav-mobile {
					display: block;
				}
				.logo {
					width: 130px;
				}
			}
		}
	}
	/*Mobile nav expanded */
	.container-mobile-menu {
		display: block;
	}
	.nav-mobile {
		&.nav-mobile-menu {
			display: flex;
		}
	}
	.container-drop {
		display: none;
	}
}


@media (max-width: 991px) {
	#breakpoint:before {
		content: "991px";
	}
	/* ==========================================
		Featured
	========================================== */
	.featured {
		min-height: 650px;
		padding-bottom: 240px;
		.container {
			.col-12 {
				padding-top: 120px;
				h1 {
					font-size: 56px;
					font-weight: $semibold;
					line-height: 57px;
					margin-bottom: 24px;
				}
				h2 {
					font-size: 25px;
					line-height: 27px;
				}
			}
		}
	}
	.featured-page {
		min-height: 420px;
		padding-top: 110px;
		padding-bottom: 100px;
		.container {
			.row {
				.col-12 {
					h1 {
						max-width: 100%;
						font-size: 56px;
						margin-bottom: 24px;
					}
					p {
						max-width: 100%;
					}
				}
			}
		}
	}
	/* ==========================================
		Content
	========================================== */
	.content {
		padding-top: 50px;
		padding-bottom: 50px;
		/* Video */
		&.content-media {
			.col-12 {
				max-width: 90%;
			}
		}
		/* Shift into header */
		&.content-shift {
			&.content-media {
				padding-bottom: 50px;
				.col-12 {
					max-width: 90%;
					.embed-container {
						margin-top: -100px;
					}
					.embed-image {
						margin-top: -100px;
					}
				}
			}
			.list-blog {
				top: -100px;
			}
		}
		/* Program intro */
		&.content-program-intro {
			.col-lg-6 {
				&:first-of-type {
					min-height: 350px;
				}
			}
		}
		/* Program footer */
		&.content-program-footer {
			.col-video {
				max-width: 80%;
			}
			.row + .row {
				margin-top: 70px;
			}
		}
		/* Image columns */
		&.content-width {
			&.content-width-program {
				.row {
					&:nth-child(even) {
						.col-lg-6:first-of-type {
							order: 2;
						}
						.col-lg-6:last-of-type {
							order: 1;
						}
					}
					&:nth-child(odd) {
						.col-lg-6:first-of-type {
							order: 2;
						}
						.col-lg-6:last-of-type {
							order: 1;
						}
					}
					.col-lg-6 {
						&.col-img {
							min-height: 350px;
						}
						.content-width-content {
							padding: 40px 0;
						}
					}
				}
			}
			.row {
				min-height: 0;
				.col-lg-6 {
					width: 100%;
					order: 2;
					&.col-img {
						min-height: 600px;
						order: 1;
					}
					.content-width-content {
						max-width: none;
						padding: 50px 0;
					}
				}
			}
		}
	}
	/* ==========================================
		Lists
	========================================== */
	ul.list {
		/* Programs */
		&.list-programs {
			& > li {
				max-width: 50%;
				flex: 0 0 50%;
				margin-bottom: 30px;
			}
		}
		/* Corporate companies */
		&.list-companies {
			li {
				width: 25%;
			}
		}
	}
	/* ==========================================
		Campaigns
	========================================== */
	.single-campaign {
		.featured-page {
			min-height: 655px;
			padding-top: 125px;
			padding-bottom: 190px;
			.container {
				.row {
					.col-12 {
						h1 {
							font-size: 56px;
							line-height: 57px;
						}
						p {
							font-size: 25px;
							line-height: 27px;
						}
					}
				}
			}
		}
		/* Content */
		.content {
			&.content-process {
				h3 {
					font-size: 22px;
					line-height: 25px;
				}
				ul.list.list-process {
					li {
						.list-process-item {
							padding: 30px;
						}
					}
				}
			}
			&.content-shift {
				&.content-media {
					.col-12 {
						.embed-container {
							margin-top: -210px;
						}
					}
				}
			}
			&.content-contact {
				.side-item {
					&.side-item-deal,
					&.side-item-deal p {
						font-size: 25px;
						line-height: 28px;
					}
				}
			}
			&.content-width {
				.row {
					.col-lg-6.col-img {
						min-height: 330px;
					}
				}
			}
		}
	}
	/* ==========================================
		Page specific
	========================================== */
	.home {
		.content.content-media {
			.col-12 {
				.embed-container {
					margin-top: -210px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#breakpoint:before {
		content: "767px";
	}
	/* ==========================================
		Variables
	========================================== */
	/* Extends */
	%intro {
		font-size: 17px;
		line-height: 20px;
	}
	/* ==========================================
		Global
	========================================== */
	p {
		font-size: 17px;
		line-height: 23px;
	}
	h2 {
		font-size: 27px;
		line-height: 30px;
	}
	h3 {
		font-size: 24px;
		line-height: 27px;
	}
	h4 {
		font-size: 20px;
		line-height: 24px;
	}
	/* ==========================================
		Header
	========================================== */
	/*Mobile nav expanded */
	.container-mobile-menu {
		.collapse-mobile {
			.card {
				ul.nav-head {
					li {
						ul.sub-menu {
							/* Tiles */
							ul.list.list-programs {
								li {
									&.col-md-3 {
										max-width: 100%;
										flex: 0 0 100%;
										margin-bottom: 15px;
										&:last-of-type {
											margin-bottom: 0;
										}
									}
									.list-program {
										.list-program-wrap {
											min-height: 180px;
											padding: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/* ==========================================
		Featured
	========================================== */
	.featured {
		min-height: 425px;
		padding-bottom: 150px;
		.container {
			.col-12 {
				padding-top: 90px;
				h1 {
					font-size: 35px;
					line-height: 36px;
				}
			}
		}
	}
	.featured-page {
		min-height: 350px;
		padding-top: 100px;
		padding-bottom: 60px;
		.container {
			.row {
				&.row-program {
					.col-md-4 {
						ul.list {
							/* Features */
							&.list-features {
								margin-top: 25px;
								margin-bottom: 0;
								padding: 20px 20px 14px 20px;
								display: flex;
								li {
									margin: 0 13px 6px 0;
								}
							}
						}
					}
				}
				.col-12 {
					h1 {
						font-size: 35px;
						line-height: 36px;
					}
				}
			}
		}
	}
	/* ==========================================
		Content
	========================================== */
	.content {
		padding-top: 30px;
		padding-bottom: 30px;
		/* Shift into header */
		&.content-shift {
			&.content-media {
				padding-bottom: 30px;
				.col-12 {
					.embed-container {
						margin-top: -60px;
					}
					.embed-image {
						margin-top: -60px;
					}
				}
			}
		}
		/* Callout */
		&.content-callout {
			min-height: 400px;
			&.content-callout-small {
				padding-top: 70px;
				padding-bottom: 70px;
				background-attachment: initial;
				.col-lg-6 {
					.callout-copy {
						h2 {
							font-size: 27px;
							line-height: 30px;
						}
					}
				}
			}
			.col {
				max-width: 100%;
				.callout-copy {
					.callout-note {
						font-size: 13px;
					}
					h2 {
						font-size: 27px;
						line-height: 30px;
					}
				}
			}
		}
		/* Process */
		&.content-process {
			.col-12 {
				h3 {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
		}
		/* Awards */
		&.content-awards {
			.row {
				justify-content: center;
				h4 {
					font-size: 16px;
					margin-bottom: 15px;
				}
				img {
					width: 120px;
				}
			}
		}
		/* Image columns */
		&.content-width {
			&.content-width-program {
				.row {
					.col-lg-6 {
						.content-width-content {
							padding: 30px 0;
						}
					}
				}
			}
			.row {
				.col-lg-6 {
					&.col-img {
						min-height: 400px;
					}
					.content-width-content {
						padding: 30px 0;
					}
				}
			}
		}
		/* CTA */
		&.content-cta {
			margin-top: 50px;
			margin-bottom: 50px;
			padding-top: 40px;
			padding-bottom: 40px;
			h2,
			span {
				font-size: 28px;
				line-height: 32px;
			}
		}
		/* Footer */
		&.content-footer {
			.btn {
				margin-top: 20px;
			}
			.col-4 {
				max-width: 100%;
				flex: 0 0 100%;
				text-align: center;
				.logo {
					margin-bottom: 20px;
				}
				.sub-menu {
					margin-bottom: 10px;
				}
				ul.list.list-footer {
					li {
						margin-bottom: 5px;
					}
				}
			}
			.row-foot {
				.col-8,
				.col-4 {
					max-width: 100%;
					flex: 0 0 100%;
					display: flex;
					justify-content: center;
					text-align: center;
				}
				.col-8 {
					margin-bottom: 10px;
					ul.list.list-footer-bottom {
						display: block;
						li {
							display: inline-block;
						}
					}
				}
			}
		}
		/* Contact */
		&.content-contact {
			.row {
				& + .row,
				.col-md-8 + .col-md-4 {
					margin-top: 0;
				}
				.side-item {
					font-size: 17px;
					padding: 25px;
					margin-bottom: 25px;
				}
			}
		}
		/* Newsletter */
		&.content-newsletter {
			padding-top: 30px;
			padding-bottom: 30px;
			h2 {
				font-size: 20px;
				line-height: 24px;
			}
		}
		/* Program footer */
		&.content-program-footer {
			.col-video {
				max-width: 100%;
			}
			.row + .row {
				margin-top: 40px;
			}
		}
	}
	.content-newsletter-form {
		.active-form {
			padding-top: 30px;
			.form-group {
				input {
					min-height: 40px;
					font-size: 15px;
				}
			}
		}
	}
	/* ==========================================
		Lists
	========================================== */
	ul.list {
		/* Programs */
		&.list-programs {
			& > li {
				max-width: 100%;
				flex: 0 0 100%;
				margin-bottom: 15px;
				&:last-of-type {
					margin-bottom: 0;
				}
				.list-program {
					.list-program-wrap {
						min-height: 260px;
					}
				}
			}
		}
		/* Stories */
		&.list-stories {
			li {
				.list-story {
					flex-wrap: wrap;
					padding: 20px;
					.list-story-img {
						width: 100%;
						margin: 0 0 15px 0;
						img {
							max-width: 300px;
						}
					}
					.list-story-content {
						h2 {
							font-size: 22px;
							line-height: 25px;
							margin-bottom: 15px;
						}
						.story-expanded {
							padding-top: 20px;
						}
						p {
							&:last-of-type {
								margin-bottom: 0;
							}
							& + * {
								margin-top: 25px;
							}
						}
					}
				}
			}
		}
		/* Process */
		&.list-process {
			li {
				flex: 0 0 100%;
			}
		}
		/* Team */
		&.list-team {
			li {
				.list-team-member {
					padding: 20px;
					h2 {
						font-size: 22px;
					}
					img {
						width: 140px;
					}
					.list-team-position {
						font-size: 16px;
					}
					.list-team-img {
						margin-right: 20px;
					}
				}
			}
		}
	}
	/* ==========================================
		Stripe payment
	========================================== */
	.stripe-pay {
		padding: 20px 20px 10px 20px;
		.simpay-form-wrap {
			.simpay-checkout-form.simpay-styled.simpay-checkout-form--embedded {
				.simpay-form-control {
					&.simpay-checkbox-container {
						margin: 15px 0;
					}
					select {
						height: 38px;
						max-height: 38px;
						padding: 8px 25px 8px 8px;
					}
					input[type="text"],
					input[type="email"],
					input.InputElement {
						height: 38px;
						max-height: 38px;
						padding: 8px;
					}
				}
			}
		}
	}
	/* Plan table*/
	.table-responsive {
		margin-bottom: 20px;
		tr {
			th {
				width: 25%;
				padding: 7px;
				font-size: 13px;
				&:first-of-type {
					width: 50%;
				}
				&.table-highlight {
					font-size: 13px;
				}
			}
			td {
				width: 25%;
				padding: 7px;
				font-size: 13px;
				&:first-of-type {
					width: 50%;
				}
			}
		}
		.table-price {
			font-size: 15px;
		}
	}
	/* ==========================================
		Campaigns
	========================================== */
	.single-campaign {
		.featured-page {
			min-height: 425px;
			padding-top: 105px;
			padding-bottom: 120px;
			.container {
				.row {
					.col-12 {
						h1 {
							font-size: 35px;
							line-height: 36px;
						}
					}
				}
			}
		}
		/* Content */
		.content {
			&.content-process {
				h3 {
					font-size: 20px;
					line-height: 23px;
				}
				ul.list.list-process {
					li {
						.list-process-item {
							padding: 25px;
						}
					}
				}
			}
			&.content-shift {
				&.content-media {
					.col-12 {
						.embed-container {
							margin-top: -120px;
						}
					}
				}
			}
			&.content-contact {
				.side-item {
					&.side-item-deal,
					&.side-item-deal p {
						font-size: 20px;
						line-height: 24px;
					}
				}
			}
			&.content-width {
				.row {
					.col-lg-6.col-img {
						min-height: 250px;
					}
				}
			}
			&.content-deal {
				h2 {
					font-size: 22px;
					line-height: 28px;
				}
				h3 {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
	/* ==========================================
		Page specific
	========================================== */
	.home {
		.content.content-media {
			.col-12 {
				.embed-container {
					margin-top: -120px;
				}
			}
		}
	}
	.page-template-page-program {
		.featured-page {
			padding-bottom: 15px;
			.container {
				margin-bottom: 0;
				.row {
					.col-12 {
						h1 {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
	.page-template-page-contact {
		.featured-page {
			min-height: 325px;
		}
	}
	/* ==========================================
		Blog
	========================================== */
	.pagination {
		margin-top: 0;
	}
	/* ==========================================
		Testimonials
	========================================== */
	.swiper-slide {
		width: 300px !important;
		padding: 15px;
		.testimonial-label {
			top: 210px;
		}
		blockquote {
			font-size: 17px;
			line-height: 22px;
		}
		img {
			height: 250px;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		margin-top: -45px;
		&:before {
			font-size: 24px;
		}
		&:hover {
			&:before {
				color: $brand-blue-dark;
			}
		}
	}
	.swiper-button-next {
		margin-right: -182px;
	}
	.swiper-button-prev {
		margin-left: -170px;
	}
	
	/* ==========================================
		Image handling
	========================================== */
	img.alignright,
	.alignright,
	img.alignleft,
	.alignleft,
	img.aligncenter,
	.aligncenter {
		max-width: 50%;
	}
}

@media (max-width: 559px) {
	#breakpoint:before {
		content: "559px";
	}
	
	/* ==========================================
		Global
	========================================== */
	a.btn,
	.btn,
	.gform_button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		min-width: 0;
		padding: 10px;
		font-size: 13px;
		line-height: 18px;
		&.btn-dark {
			min-width: 0;
		}
	}
	p {
		font-size: 16px;
		line-height: 22px;
	}
	h2 {
		font-size: 24px;
		line-height: 25px;
	}
	h3 {
		font-size: 20px;
		line-height: 26px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
	/* ==========================================
		Lists
	========================================== */
	ul.list {
		/* Instagram */
		&.list-instagram {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 50%;
			}
		}
		/* Team */
		&.list-team {
			li {
				.list-team-member {
					flex-wrap: wrap;
					padding: 15px;
					h2 {
						font-size: 15px;
					}
					p {
						font-size: 15px;
						line-height: 19px;
					}
					.list-team-img {
						width: 100%;
						margin: 0 0 5px 0;
					}
					img {
						margin: 0 auto;
					}
					.list-team-desc {
						h2,
						.list-team-position {
							text-align: center;
						}
					}
				}
			}
		}
	}
	/* ==========================================
		Content
	========================================== */
	.content {
		/* Image columns */
		&.content-width {
			.row {
				.col-lg-6 {
					.content-width-content {
						p,
						p:first-of-type {
							font-size: 16px;
							line-height: 23px;
						}
					}
				}
			}
		}
	}
	/* ==========================================
		Forms
	========================================== */
	.gform_wrapper {
		form {
			ul.gform_fields {
				li {
					width: 100%;
					margin-bottom: 25px;
					&#field_1_3,
					&#field_1_4,
					&#field_1_5,
					&#field_1_6,
					&#field_1_8,
					&#field_2_3,
					&#field_2_4,
					&#field_2_5,
					&#field_2_6,
					&#field_2_8,
					&#field_3_3,
					&#field_3_4,
					&#field_3_5,
					&#field_3_6,
					&#field_3_8 {
						width: 100%;
					}
					&#field_1_10 {
						margin-bottom: 5px;
					}
					input,
					textarea {
						padding: 8px;
						font-size: 14px;
					}
				}
			}
		}
	}
	/* Active form */
	.active-form {
		input,
		textarea {
			padding: 8px;
		}
		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			height: 38px;
		}
	}
	/* ==========================================
		Image handling
	========================================== */
	img.alignright,
	.alignright,
	img.alignleft,
	.alignleft,
	img.aligncenter,
	.aligncenter {
		max-width: 100%;
		width: 100%;
		float: none;
		margin: 0 0 25px 0;
	}
}